#!/bin/bash
set -e -E -u -C -o pipefail

exec 1> >(logger --tag $(basename $0)) 2>&1

echo "Start Home Assistant backup"

BACKUP_DIR="{{ home_assistant_backup_path }}"
BACKUP_FILE="{{ home_assistant_backup_path }}/home-assistant-$(date +%Y-%m-%d-%H-%M).tar"

echo "Create backup of Home Assistant config"
tar --create --file "${BACKUP_FILE}" --directory "{{ home_assistant_data_path }}/" .

echo "Compress backup of Home Assistant config"
bzip2 "${BACKUP_FILE}"

echo "Delete Home Assistant backup archives older than 7 days"
find "${BACKUP_DIR}" -name "*.tar.bz2" -type f -mtime +7 -delete

echo "Finish Home Assistant backup"
